<div class="product-card">
  <div class="image-wrapper">
    <div class="badge" *ngIf="product.averageRating">
      <span class="star">★</span>
      {{ product.averageRating.toFixed(1).replace('.', ',') }}
    </div>
    <img [src]="product.imageUrl" [alt]="product.name" />
    <div class="add-button" (click)="addToCart.emit(product.id)">+</div>
  </div>
  <div class="name">{{ product.name | slice:0:55 }}<span *ngIf="product.name.length > 30">...</span></div>
  <div class="price">{{ product.price | currency:'BRL':'symbol':'1.2-2' }}</div>
</div>
