:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #F3EEE8;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  min-height: 100vh;
  background: #f6f2ee;
}
