.order-card {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px #00000010;
  font-family: 'Inter', sans-serif;
  color: #504d4b;
  border: 1px solid #ddd;

  .label {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 1rem;
  }

  .produto {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 0;
    border-top: 1px solid #eee;

    &:first-child {
      border-top: none;
    }

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 6px;
    }

    .info {
      flex: 1;

      .name {
        font-weight: 600;
        font-size: 14px;
      }

      .brand {
        font-size: 12px;
        color: #999;
      }

      .qty {
        font-size: 12px;
        color: #999;
      }
    }

    .preco {
      font-weight: 600;
      font-size: 14px;
      color: #504d4b;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;

    .comprar-novamente {
      border: 1px solid #a27a63;
      color: #a27a63;
      background: #fff;
      border-radius: 999px;
      padding: 0.4rem 1.2rem;
      font-size: 0.8rem;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: #f3ece9;
      }
    }


    .total {
      font-weight: 600;
      font-size: 14px;

      strong {
        color: #a27a63;
      }
    }
  }
  .filters {
    background: white;
    padding: 1rem;
    border-radius: 12px;
    max-width: 800px;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    button {
      background: none;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      font-weight: 600;
      color: #7d6c61;
      cursor: pointer;
      transition: all 0.2s;

      &.active {
        background: #f3ece9;
        border: 1px solid #a27a63;
        color: #a27a63;
      }

      &:hover {
        background: #f3ece9;
      }
    }

    input {
      margin-left: auto;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      border: 1px solid #ccc;
      flex: 1;
      min-width: 250px;
    }
  }

}
