<div class="orders-container">
  <div class="header-row">
    <h2 class="title">Meus Pedidos</h2>

    <div class="pagination" *ngIf="totalPaginas > 1">
      <button (click)="irParaPagina(paginaAtual - 1)" [disabled]="paginaAtual === 0">‹</button>

      <ng-container *ngFor="let page of [].constructor(totalPaginas); let i = index">
        <button
          (click)="irParaPagina(i)"
          [class.active]="i === paginaAtual">
          {{ i + 1 }}
        </button>
      </ng-container>

      <button (click)="irParaPagina(paginaAtual + 1)" [disabled]="paginaAtual + 1 === totalPaginas">›</button>
    </div>
  </div>

  <div class="filters">
    <button [class.active]="!statusSelecionado" (click)="filtrarPorStatus(null)">Tudo</button>
    <button [class.active]="statusSelecionado === 'A Pagar'" (click)="filtrarPorStatus('A Pagar')">A pagar</button>
    <button [class.active]="statusSelecionado === 'Preparando'" (click)="filtrarPorStatus('Preparando')">Preparando</button>
    <button [class.active]="statusSelecionado === 'A Caminho'" (click)="filtrarPorStatus('A Caminho')">A caminho</button>
    <button [class.active]="statusSelecionado === 'Entregue'" (click)="filtrarPorStatus('Entregue')">Entregue</button>
    <button [class.active]="statusSelecionado === 'Cancelado'" (click)="filtrarPorStatus('Cancelado')">Cancelado</button>
  </div>
  <div class="orders-list">
    <app-order-card
      *ngFor="let pedido of pedidos"
      [pedido]="pedido"
      (comprarNovamente)="handleComprarNovamente($event)">
    </app-order-card>
  </div>
</div>
