<div class="box">
  <h3>Resumo do Pedido</h3>
  <div class="grid">
    <div>
      <strong>Endereço</strong>
      <p>Rua blablabl, ribeirao bonito</p>
      <small>🚚 Entrega rápida</small>
    </div>
    <div>
      <strong>Pagamento</strong>
      <p>Cartão de Crédito</p>
      <small>🔒 Pagamentos seguros</small>
    </div>
    <div class="totals">
      <p>Subtotal <span>R$362,27</span></p>
      <p>Frete <span>Grátis</span></p>
      <hr />
      <p class="total">Total <span>R$362,27</span></p>
    </div>
  </div>
  <button class="submit-btn">Fazer o pedido</button>
</div>
