.carousel-container {
  text-align: center;
  margin-top: 20px;
  padding: 2rem 1rem;

  h2 {
    margin-bottom: 3.5rem;
    font-weight: 600;
    color: #504D4B;

  }

  .carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .carousel {
    display: flex;
    gap: 2rem;
    overflow: hidden;
  }

  .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;

    .circle {
      background: #f3f3f3;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        max-width: 80%;
        max-height: 80%;
      }
    }

    p {
      margin-top: 1rem;
      font-size: 13px;
      color: #835947;
      font-weight: 700;
    }
  }

  .nav {
    border: none;
    background: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 32px;
    height: 32px;
    display: flex;
    color: #835947;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
