<div class="checkout-container">
  <div class="checkout-content">
    <!-- Coluna Esquerda -->
    <section class="left-column">
      <app-delivery-address-box></app-delivery-address-box>
      <app-payment-method-box></app-payment-method-box>
      <app-order-sumary-box></app-order-sumary-box>
    </section>

    <section class="right-column">
      <H2 class="items-title">Detalhes dos itens</H2>

      <app-cart-item
        *ngFor="let item of cartItems"
        [item]="item"
        [readOnly]="true">
      </app-cart-item>

      <app-more-items-button></app-more-items-button>
    </section>
  </div>
</div>
