<div class="carousel-container">
  <button class="nav-button left" (click)="prevSlide()">❮</button>

  <div
    class="carousel-banner"
    [ngStyle]="{ 'background-image': 'url(' + banners[activeIndex].image + ')' }"
    (click)="goToSubcategory()"
    style="cursor: pointer">
  </div>

  <button class="nav-button right" (click)="nextSlide()">❯</button>
</div>

<div class="carousel-indicators">
  <span
    *ngFor="let banner of banners; let i = index"
    [class.active]="i === activeIndex"
    (click)="goToSlide(i)"
  ></span>
</div>
